<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Educación continua</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="jumbotron">
                <div Class="row">
                    <div class="col-sm text-center">
                        <h1> Educación continua </h1>
                    </div>
                </div>
            </div>
            {{{ListarCursosDisponibles Cursos }}}
<a href="/">Login</a>
{{>footer}}            