{{>headerCoordinador}}
<div  class="container">
<h1>Editar datos de usuario</h1>
<form action="/VistaActualizarUsuario">
<div class="form-group">
    
    Id Usuario <br>
    
    {{{SelectUsuarios usuarios}}}
    
    <input type="submit" class="form-group" value="Enviar" name="submit" id="submit">

</div>
</form>
</div
{{>footer}}