{{>headerCoordinador}}
<div class="container">
    <h1>Eliminar usuarios de un curso</h1>
    <form action="/EliminaUsuarioDeCurso">
        <div class="form-group">
            Id Curso <br>
            <input type="number" class="form-group" name="idCuso" id="idCuso"><br>
            Id Usuario <br>
            <input type="text" class="form-group" name="UsuarioID" id="UsuarioID"><br>

            <input type="submit" class="form-group" value="Enviar" name="submit" id="submit">

        </div>
    </form>
</div>
 {{>footer}}