{{>headerCoordinador}}
<div class="container">
    <h1>Ingreso de nuevo curso</h1>
    <form action="CierraCurso">
        <div class="form-group">
            {{{SelectDocente docentes curso}}}

          
            <input type="submit" class="form-group" value="Enviar" name="sunbmit" id="submit">
        </div>
    </form>
</div {{>footer}}