
{{>headerAspirante}}

<H1> lista de cursos disponibles para ver</H1>
{{{ListarCursosDisponibles Cursos }}}
<div class="container-fluid">
<h3>Inscribir Curso</h3>
<p>Su identificacion es {{UsuarioID}} </p>



  {{{SelectCursos Cursos}}}

   

</div>


{{>footer}}