<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Educación continua</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="jumbotron">
                <div Class="row">
                    <div class="col-sm text-center">
                        <h1> Educación continua </h1>
                    </div>
                </div>
            </div>
    
           
        </div>
    </header>
<div class="container-fluid">

    <a href="/CursosOfrecidos">Ver Cursos Disponibles</a>

    <h3>Inicio de sesión</h3>
    
    <form action="/login" method="POST">
<div class="form-group border-dark align-content-center">
    Usuario <br>
    <input type="text" class="form-group" name="user" id="user" required><br>
    Contraseña <br>
    <input type="password"class="form-group" name="password" id="password" required><br>
  
    <input type="submit" class="form-group" value="Enviar" name="sunbmit" id="submit">

</div>
</form>

<a href="/NuevoUsuario">¿ Todavia no tienes ususario ? Regístrate!!</a>
<p>{{mensaje}}</p>

</div>








    <footer>
        <p>Todos los derechos reservados</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


        <script src="socket.io/socket.io.js"></script>
        <script src="js\Broadcas.js"></script>
</body>

</html>