{{>headerCoordinador}}
<div class="container-fluid">
    <div class=class="form-group">
        <form id="BroadCastForm">
            <label for="MensajeCordinador">Escriba un mensaje</label>
            <input type="text" id="MensajeCordinador" name="MensajeCordinador" class="form-control"> <br>

            <button id="Boton_enviar" "btn btn-primary">Enviar</button><br>


        </form>

    </div>
    <div id="Mensaje">

    </div>
</div><br>
{{>footer}}