<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Educación continua</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="jumbotron">
                <div Class="row">
                    <div class="col-sm text-center">
                        <h1> Educación continua </h1>
                    </div>
                </div>
            </div>
    
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Opciones</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item disabled">
                            <a class="nav-link disabled" href="/">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link disabled" href="/ListaCursos">Cursos</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>
<div class="container-fluid">
    <h3>Ingrese sus datos</h3>
    <p>todos los datos son obligatorios</p>
    <form action="/IngresarUsuario" method="post" enctype="multipart/form-data">
<div class="form-group">
    Documento <br>
    <input type="number" class="form-group" name="documento" id="documento" required><br>
    Nombre <br>
    <input type="text" class="form-group" name="nombre" id="nombre" required><br>
    Usuario <br>
    <input type="text" class="form-group" name="usuario" id="usuario" required><br>
     contaseña <br>
    <input type="password" class="form-group" name="password" id="password" required><br>
    Correo <br>
    <input type="text" class="form-group" name="correo" id="correo" required><br>
    Teléfono <br>
    <input type="tel" class= "form-group" name="telefono" id="telefono" required><br><br>
    Imagen de Perfil <br>
    <input type="file" class= "form-group" name="foto" id="foto" required><br><br>
   
    <input type="submit" class="form-group" value="Enviar" name="sunbmit" id="submit">

</div>
</form>

</div>

    <footer>
        <p>Todos los derechos reservados</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="src/sockets.js"></script>
</body>

</html>