{{>headerCoordinador}}
<div class="container-fluid">
    
    <h1 class="align-content-center">Bienvenido a Tu Página de Educación continua!!!</h1><br>

  
    <h2>Tu rol es de: Coordinador </h2>

    {{#if avatar}}
    <img src="data:img/*;base64,{{avatar}}",class="img-fluid">
    {{/if}}
</div>
{{>footer}}