{{>headerCoordinador}}
<div class="container-fluid">
    
    <h1 class="align-content-center">Bienvenido a Tu Página de Educación continua!!!</h1><br>

  
    <h2>Tu rol es de: Coordinador </h2>
</div>
{{>footer}}