{{>headerAspirante}}
<div class="container-fluid">
    
    <h1 class="align-content-center">Bienbenido a Tu Pagina de Eucacion continua!!!</h1><br>

  
    <h2> <span>{{nombre}}</span> Su rol es el de: Aspirante </h2><br<
        <h2> <span>{{nombre}}</span> Su rol es el de: Aspirante </h2>
</div>
{{>footer}}