{{>headerCoordinador}}
<div class="container-fluid">
    
    <h1 class="align-content-center">Bienbenido a Tu Pagina de Eucacion continua!!!</h1><br>

  
    <h2>Su rol es el de: Coordinador </h2>
</div>
{{>footer}}